.logo{
    width: 75px;
    height: 70px;
}

.homeCPF{
    width: 50px;
    height: 45px;
    border-radius: 50%;
}

.homeCPF:hover{
    box-shadow: 2px 2px 2px rgb(255, 135, 62); 
}

.homelocCPF{
    margin-left: 94%;
    margin-bottom: 1%;
}
